---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource/inter/variable.css";

import { getLangFromUrl, useTranslations } from "../i18n/utils";

const langData = getLangFromUrl(Astro.url);
const t = useTranslations(langData);

export interface Props {
  title: string;
  lang?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/opengraph.jpg",
  Astro.site
).toString();

const { title, lang } = Astro.props;

const makeTitle = title ? title + " | " + "Rao.Pics" : t("seo.title");
---

<!DOCTYPE html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="icon" type="image/svg" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
    <SEO
      title={makeTitle}
      description={t("seo.description")}
      canonical={canonicalURL}
      twitter={{
        creator: "@meetqy",
        site: "@rao.pics",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: t("seo.title"),
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "rao.pics screenshot",
        },
      }}
    />
  </head>
  <body class="dark:bg-slate-900 dark:text-slate-100 text-slate-800 relative">
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
